<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img {
            width:100%;
        }
        .img-50 {
            max-width:500px;
        }
    </style>
</head>
<body>
    <h1>레이아웃 연습</h1>
    <section>
        <h2>Float 레이아웃 실습1</h2>
        <p>다음 코드를 다음과 같이 float 속성을 이용하여 요소를 배치해 보시오.</p>
        <img class="img-50" src="./img/layout1.png" alt="">
        <br>
        <a href="layout1.html">layout1</a>
    <section>

    <section>
        <h2>Float 레이아웃 실습2</h2>
        <p>다음 코드를 다음과 같이 float 속성을 이용하여 요소를 배치해 보시오.</p>
        <img class="img-50" src="./img/layout2.png" alt="">
        <br>
        <a href="layout2.html">layout2</a>
    <section>

    <section>
        <h2>Float 레이아웃 실습3</h2>
        <p>다음 코드를 다음과 같이 float 속성을 이용하여 요소를 배치해 보시오.</p>
        <img class="img-50" src="./img/layout3.png" alt="">
        <br>
        <a href="layout3.html">layout3</a>
    <section>


    <section>
        <h2>Float 레이아웃 실습4</h2>
        <p>다음 코드를 다음과 같이 float 속성을 이용하여 요소를 배치해 보시오.</p>
        <img class="img-50" src="./img/layout4.png" alt="">
        <br>
        <a href="layout4.html">layout4</a>
    <section>

    <section>
        <h2>Float 레이아웃 실습5</h2>
        <p>다음 코드를 다음과 같이 float 속성을 이용하여 요소를 배치해 보시오.</p>
        <img class="img-50" src="./img/layout5.png" alt="">
        <br>
        <a href="layout5.html">layout5</a>
    <section>

    <section>
        <h2>Float 레이아웃 실습6</h2>
        <p>다음 코드를 다음과 같이 float 속성을 이용하여 요소를 배치해 보시오.</p>
        <img class="img-50" src="./img/layout6.png" alt="">
        <br>
        <a href="layout6.html">layout6</a>
    <section>

    <section>
        <h2>Float 레이아웃 실습7</h2>
        <p>다음 코드를 다음과 같이 float 속성을 이용하여 요소를 배치해 보시오.</p>
        <img class="img-50" src="./img/layout7.png" alt="">
        <br>
        <a href="layout7.html">layout7</a>
    <section>


    <section>
        <h2>Float 레이아웃 실습9</h2>
        <p>다음 코드를 다음과 같이 float 속성을 이용하여 요소를 배치해 보시오.</p>
        <img class="img-50" src="./img/layout9.png" alt="">
        <br>
        <a href="layout9.html">layout9</a>
    <section>


</body>
</html>