<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* 초기회 */
        * {
            margin:0;
            padding:0;
        }



        body {
            padding: 0;
            margin: 0;
            background-color: #cccccc;
        }

        /* 레이아웃 */        
        .wrapper {
            background-color: white;
            margin: 0 auto;

        }

        .wrapper .main-title {
            color:red;
        }
    </style>
</head>
<body>
    <div class="wrapper" style="width:1000px">
        <h1 class="main-title">레이아웃</h1>
        
    </div>
    


    
    
</body>
</html>